.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1.5px solid #cfd8e6;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.input-field:focus {
  border-color: #4d6bfe;
  box-shadow: 0 0 6px rgba(77, 107, 254, 0.25);
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #3868ff, #7b4dfe);
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(77, 107, 254, 0.35);
}
